pkgconfig
Pillow
numpy
scipy
panda
pandas
pandasql
matplotlib
scikit_learn
Flask
virtualenv
pyparsing
future
ipaddress
jinja2
httpie
j2cli
requests
nltk
seaborn
hyperopt
keras
langdetect
tqdm
networkx
gensim
pyLDAvis
ipykernel
jupyter
virtualenvwrapper
